---
layout: page
title: >-
  Family Law
description: >-
  Shane McCormick has over 20 years of legal experience fighting for diverse clients. As a veteran, he knows the importance of persistence and determination. He brings all these valuable skills to the courtroom to ensure the best possible outcome for every client, every time. A local attorney who knows the system, he has been providing outstanding legal services to Acadiana and the surrounding area since 2002.
keywords: >-
  family-law
permalink: "/family-law"
banner_section:
  title: "Family Law"
  lists:
    - DIVORCE
    - CUSTODY
    - CHILD SUPPORT
  banner_image_url: "/assets/images/banner_2.jpg"

contact_section:
  title: "CONTACT US now for a consultation"
  sub_title: "REQUEST A CONSULTATION"
  banner_image_url: "/assets/images/contact_form_bg.jpg"

white_section: 
  title: >- 
    WHEN AMICABLE SOLUTIONS CAN'T BE REACHED, HAVE AN EXPERIENCED LEGAL TEAM TO TAKE YOUR CASE TO TRIAL.
  description: >-
    We realize that extended litigation should be a last alternative in resolving a domestic or family dispute. We work to achieve our clients goals with the least emotional and financial expense.

services_section:
  title: >-
    If we are not able to reach an amicable resolution, do not firm has the experience and expertise to bring the matter to trial. If you are uncertain as to what type of matter you may be experiencing, please feel free to contact my office for a consultation.

  button_text: "Contact"
  button_url: "/contact"
  services:
   - list: "Divorce"
   - list: "Child Custody"
   - list: "Child Support"
   - list: "Spousal Support"
   - list: "Community Property Partitions"
   - list: "Paternity/Disavowal Actions"
   - list: "Prenuptial Agreements"
   - list: "Adoptions"
---

{% assign general_data = site.data.general_settings %}

<section class="hero pageHero pageHero--Collage">
	<div class="pageHero__Text">
		{% if page.banner_section.title %}
		 <h1>{{ page.banner_section.title }}</h1>
		{% endif %}
		{% for list in page.banner_section.lists %}
		 <p class="pageDesc pageHeroBreak">{{ list }}</p>
		{% endfor %}
		<div class="pageHero__Phone">
		   <a href="tel:{{ general_data.phone }}">{{ general_data.phone }}</a>
		</div>
	</div>
	<div class="pageHero__Form">
	    {% if page.contact_section.title %}
		 <h2>{{ page.contact_section.title }}</h2>
		{% endif %}
		<section class="formSection">
		    {% if page.contact_section.sub_title %}
			 <h5 class="formSection__Heading">{{ page.contact_section.sub_title }}</h5>
			{% endif %}
			{% include form.html %}
		</section>
	</div>
	{% if page.banner_section.banner_image_url %}
	<div class="pageHero__ImageWrapper pageHero__ImageWrapper--TR">
		<img class="pageHero__Image pageHero__Image--TR pageHero__ImageWrapper--TR" src="{{page.banner_section.banner_image_url}}" />
	</div>
	{% endif %}
	{% if page.contact_section.banner_image_url %}
	<div class="pageHero__ImageWrapper pageHero__ImageWrapper--BL">
		<div class="blueBlock"></div>
		<img class="pageHero__Image pageHero__Image--BL" src="{{page.contact_section.banner_image_url}}" />
	</div>
	{% endif %}
</section>

{% assign service = page.services_section %}
{% assign white = page.white_section %}
<section class="sliceZone">
	<section class="pageBody maxWidth">
	    {% if white.title %}
		<h3>{{ white.title }}</h3>
		{% endif %}
		{% if white.description %}
		<p>{{ white.description }} </p>
		{% endif %}
	</section>
	<section class="pagePrefooter">
		<div class="pagePrefooter__Text">
		   {% if service.title %}
			<p>{{ service.title }}</p>
			{% endif %}
			{% if service.button_text %}
			 <a class="prefooter__Button prefooter__Button--Desktop" href="{{service.button_url}}">{{service.button_text}}</a>
			{% endif %}
		</div>
		<ul>
		    {% for list in service.services %}
			<li>{{ list.list }}</li>
			{% endfor %}
		</ul>
		{% if service.button_text %}
		 <a class="prefooter__Button prefooter__Button--Mobile" href="{{service.button_url}}">{{service.button_text}}</a>
		{% endif %}
	</section>
</section>