---
layout: default
title: >-
  McCormick Law Firm
description: >-
  Shane McCormick has over 20 years of legal experience fighting for diverse clients. As a veteran, he knows the importance of persistence and determination. He brings all these valuable skills to the courtroom to ensure the best possible outcome for every client, every time. A local attorney who knows the system, he has been providing outstanding legal services to Acadiana and the surrounding area since 2002.
keywords: >-
  personal-injury,criminal-law
hero_section:
  background_image_url: "/assets/images/hero_bg.jpg"
  mobile_home_logo_url: "/assets/images/mobile_logo.png"
  desktop_home_logo_url: "/assets/images/desktop_logo.png"

service_section:
  description: >-
    If you were injured through no fault of your own and need help navigating through the legal system contact us immediately. When dealing with these difficult, fragile matters, you will need an attorney with not only experience, but with compassion. Someone who will take a personal interest in your case and have your best interest in mind.
  button_text: "/learn-more"
  button_url: "/personal-injury"
  services:
    - text: PERSONAL INJURY
      description: If you were injured through no fault of your own and need help navigating through the legal system contact us immediately. When dealing with these difficult, fragile matters, you will need an attorney with not only experience, but with compassion. Someone who will take a personal interest in your case and have your best interest in mind.
      url: /personal-injury
    - text: Criminal Law
      description: Our firm offers criminal defense services to those charged with having committed a crime. We take representation of a client very seriously as we understand the emotional toll placed on a person and their family when someone has been accused and/or charged with committing a crime. Our firm works tirelessly from the moment we are contacted by a client or their family, be it the day they are arrested or the week before trial.
      url: /criminal-law
    - text: Family Law
      description: We realize that extended litigation should be a last alternative in resolving a domestic or family dispute. We work to achieve our clients goals with the least emotional and financial expense.
      url: /family-law
    - text: DWI/OWI
      description: If you have been arrested for driving under the influence of alcohol or drugs, it is imperative that you contact my office immediately. DUI cases can develop relatively quick, and the more time that I have to gather the facts, the better the case I can build to defend you.
      url: /dwi-owi
    - text: Estate Planning
      description: Call today to set up an appointment so that I can help you plan for your future so that your wishes can be carried out.
      url: /estate-planning
    - text: Additional Services
      description: We pride ourselves on being a full service law firm and strive to fulfill our clients needs. Should you have a problem and/or dispute not specifically delineated above, please feel free to contact my office for a consultation.
      url: /additional-services

about_section:
  title: "SHANE MCCORMICK"
  profile_image: "/assets/images/about_sm.jpg"
  description: >-
    Shane McCormick has over 20 years of legal experience fighting for diverse clients. As a veteran, he knows the importance of persistence and determination. He brings all these valuable skills to the courtroom to ensure the best possible outcome for every client, every time. A local attorney who knows the system, he has been providing outstanding legal services to Acadiana and the surrounding area since 2002.
  background_image: "/assets/images/about_big_bg.jpg"
  button_text: "Learn More"
  button_url: "/about"
---

{% assign general_data = site.data.general_settings %}

<!--DESKTOP-->

<section class="container-fluid text-white text-center d-flex align-items-start py-0 vh-100 pageHero__Home__Inner d-none d-lg-block"
         style="background-image: url({{ page.hero_section.background_image_url}});background-size: cover;">
    <div class="seal-container">
        <img src="{{page.hero_section.desktop_home_logo_url}}" alt="logo" class="seal d-block img-fluid"/>
    </div>
</section>
<section class="d-none d-lg-block">
    {% include contact_form.html %}
</section>

<!--MOBILE-->

<section class="container-fluid text-white text-center d-flex align-items-start py-0 d-lg-none z-0"
         style="background-image: url({{ page.hero_section.background_image_url}});background-size: cover;">
    <div class="seal-container">
        <img src="{{page.hero_section.desktop_home_logo_url}}" alt="logo" class="seal d-block img-fluid"/>
    </div>
</section>
<section class="d-block d-lg-none">
    {% include contact_form.html %}
</section>




<!--<section class="">-->
<!--    <section class="d-flex flex-row justify-content-between serviceMenu  mx-auto maxWidth">-->
<!--        <div class="border-0 serviceMenu__ServiceTitles d-block mt-0 serviceMenu__ServiceTitles&#45;&#45;Desktop" id="v-pills-tab" role="tablist" aria-orientation="vertical">-->
<!--           {% for list in page.service_section.services %}-->
<!--            <h3 class="mt-0 serviceMenu__ServiceTitle serviceMenu__ServiceTitle&#45;&#45;Mobile service-item {% if forloop.first %}active{% endif %}" id="v-pills-{{ list.text | replace: ' ', '-' | replace: '/', '-' }}-tab" data-bs-toggle="pill" data-bs-target="#v-pills-{{ list.text | replace: ' ', '-' | replace: '/', '-' }}" type="button" role="tab" aria-controls="v-pills-{{ list.text | replace: ' ', '-' | replace: '/', '-' }}" aria-selected="true>-->
<!--              <a style="font-size: unset;padding: 0; border: 0";>{{ list.text }} </a>-->
<!--            </h3>-->
<!--            {% endfor %}-->
<!--        </div>-->
<!--        <div class="serviceMenu__ServiceText tab-content" id="v-pills-tabContent">-->
<!--           {% for list in page.service_section.services %}-->
<!--           <div class="tab-pane fade  {% if forloop.first %}show active{% endif %}" id="v-pills-{{ list.text | replace: ' ', '-' | replace: '/', '-' }}" role="tabpanel" aria-labelledby="v-pills-{{ list.text | replace: ' ', '-' | replace: '/', '-' }}-tab">-->
<!--            <p>{{ list.description }}</p>-->
<!--            <a href="{{list.url}}">Learn more</a>-->
<!--           </div>-->
<!--           {% endfor %}-->
<!--        </div>-->
<!--    </section>-->

<div class="container custom-service">
    <div class="row">
        <div class="col-md-6 border-0 serviceMenu__ServiceTitles d-block mt-0 serviceMenu__ServiceTitles--Desktop" role="tablist" aria-orientation="vertical">
            {% for list in page.service_section.services %}
            <h3 class="mt-0 serviceMenu__ServiceTitle serviceMenu__ServiceTitle--Mobile service-item {% if forloop.first %}active{% endif %}" data-bs-toggle="pill" data-bs-target="#v-pills-{{ list.text | replace: ' ', '-' | replace: '/', '-' }}" type="button" role="tab" aria-controls="v-pills-{{ list.text | replace: ' ', '-' | replace: '/', '-' }}" aria-selected="true">
                <a style="font-size: unset;padding: 0; border: 0";>{{ list.text }} </a>
            </h3>
            {% endfor %}
        </div>
        <div class="col-md-6 serviceMenu__ServiceText tab-content" id="v-pills-tabContent">
            {% for list in page.service_section.services %}
            <div class="tab-pane fade  {% if forloop.first %}show active{% endif %}" id="v-pills-{{ list.text | replace: ' ', '-' | replace: '/', '-' }}" role="tabpanel" aria-labelledby="v-pills-{{ list.text | replace: ' ', '-' | replace: '/', '-' }}-tab">
                <p class="service-paragraph">{{ list.description }}</p>
                <a class="d-inline-block text-decoration-none text-uppercase service-learn-more " href="{{list.url}}">Learn more</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

    {% assign about = page.about_section %}
<!--    <section class="p-0 d-flex flex-row justify-content-end align-items-center textOverlay">-->
<!--        <div class="d-block position-absolute overflow-hidden z-0 textOverlay__ImageWrapper&#45;&#45;BG">-->
<!--        {% if about.background_image %}-->
<!--          <img class="" src="{{ about.background_image }}" alt="paper" />-->
<!--        {% endif %}-->
<!--        </div>-->
<!--        <div class="position-relative position-relative textOverlay__Red">-->
<!--            <div class="overflow-hidden position-relative mt-0 me-auto mb-5 ms-0 textOverlay__ImageWrapper&#45;&#45;Headshot">-->
<!--            {% if about.profile_image %}-->
<!--              <img class="h-100 w-auto object-fit-cover d-block textOverlay__Headshot" src="{{ about.profile_image }}" alt="{{about.title}}" />-->
<!--            {% endif %}-->
<!--            </div>-->
<!--            {% if about.title %}-->
<!--             <h4>{{ about.title }}</h4>-->
<!--            {% endif %}-->
<!--            {% if about.description %}-->
<!--            <p>{{ about.description }}</p>-->
<!--            {% endif %}-->
<!--            {% if about.button_text %}-->
<!--             <a href="{{about.button_url}}">{{ about.button_text }}</a>-->
<!--            {% endif %}-->
<!--        </div>-->
<!--    </section>-->
<!--</section>-->
<div class="container">
    <div class="row">
        <div class="d-block col-6">
            {% if about.background_image %}
            <img src="{{ about.background_image }}" alt="paper" class="img-fluid">
            {% endif %}
        </div>
        <div class="d-block col-6 bg-primary px-5 py-5 " style="background: linear-gradient(180deg, rgba(116,22,37,.9), rgba(58,11,19,.9))">
            <div class="px-5 py-5">
                <div class="d-flex col-3 border-0 py-3">
                    <img src="/assets/images/about_sm.jpg?_cchid=23ecf755b0243d1bb7a93a2eb5b67d9d" alt="SHANE MCCORMICK" class="img-fluid rounded-circle">
                </div>
                <div class="display-5 text-white col-lg-10 col-xl-10"> SHANE MCCORMICK
                    <p class="fs-3 py-3">
                        Shane McCormick has over 20 years of legal experience fighting for diverse clients. As a veteran, he knows the importance of persistence and determination. He brings all these valuable skills to the courtroom to ensure the best possible outcome for every client, every time. A local attorney who knows the system, he has been providing outstanding legal services to Acadiana and the surrounding area since 2002.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="formSection">
    <h5 class="formSection__Heading editable">REQUEST A CONSULTATION</h5>
    {% include form.html %}
</section>