---
layout: default
title: >-
  McCormick Law Firm
description: >-
  Shane McCormick has over 20 years of legal experience fighting for diverse clients. As a veteran, he knows the importance of persistence and determination. He brings all these valuable skills to the courtroom to ensure the best possible outcome for every client, every time. A local attorney who knows the system, he has been providing outstanding legal services to Acadiana and the surrounding area since 2002.
keywords: >-
  personal-injury,criminal-law
hero_section:
  background_image_url: "/assets/images/hero_bg.jpg"
  mobile_home_logo_url: "/assets/images/mobile_logo.png"
  desktop_home_logo_url: "/assets/images/desktop_logo.png"

service_section:
  description: >-
    If you were injured through no fault of your own and need help navigating through the legal system contact us immediately. When dealing with these difficult, fragile matters, you will need an attorney with not only experience, but with compassion. Someone who will take a personal interest in your case and have your best interest in mind.
  button_text: "/learn-more"
  button_url: "/personal-injury"
  services:
    - text: PERSONAL INJURY
      description: If you were injured through no fault of your own and need help navigating through the legal system contact us immediately. When dealing with these difficult, fragile matters, you will need an attorney with not only experience, but with compassion. Someone who will take a personal interest in your case and have your best interest in mind.
      url: /personal-injury
    - text: Criminal Law
      description: Our firm offers criminal defense services to those charged with having committed a crime. We take representation of a client very seriously as we understand the emotional toll placed on a person and their family when someone has been accused and/or charged with committing a crime. Our firm works tirelessly from the moment we are contacted by a client or their family, be it the day they are arrested or the week before trial.
      url: /criminal-law
    - text: Family Law
      description: We realize that extended litigation should be a last alternative in resolving a domestic or family dispute. We work to achieve our clients goals with the least emotional and financial expense.
      url: /family-law
    - text: DWI/OWI
      description: If you have been arrested for driving under the influence of alcohol or drugs, it is imperative that you contact my office immediately. DUI cases can develop relatively quick, and the more time that I have to gather the facts, the better the case I can build to defend you.
      url: /dwi-owi
    - text: Estate Planning
      description: Call today to set up an appointment so that I can help you plan for your future so that your wishes can be carried out.
      url: /estate-planning
    - text: Additional Services
      description: We pride ourselves on being a full service law firm and strive to fulfill our clients needs. Should you have a problem and/or dispute not specifically delineated above, please feel free to contact my office for a consultation.
      url: /additional-services

about_section:
  title: "SHANE MCCORMICK"
  profile_image: "/assets/images/about_sm.jpg"
  description: >-
    Shane McCormick has over 20 years of legal experience fighting for diverse clients. As a veteran, he knows the importance of persistence and determination. He brings all these valuable skills to the courtroom to ensure the best possible outcome for every client, every time. A local attorney who knows the system, he has been providing outstanding legal services to Acadiana and the surrounding area since 2002.
  background_image: "/assets/images/about_big_bg.jpg"
  button_text: "Learn More"
  button_url: "/about"
---

{% assign general_data = site.data.general_settings %}


    <section class="pageHero--Home pageHero">
        <div style="background-image: url({{ page.hero_section.background_image_url}});" class="pageHero__Home__Inner">
            {% if page.hero_section.mobile_home_logo_url %}
             <img src="{{page.hero_section.mobile_home_logo_url}}" alt="logo" class="pageHero__Home__Logo pageHero__Home__Logo--Cut img-fluid" />
            {% endif %}
            {% if page.hero_section.desktop_home_logo_url %}
             <img src="{{page.hero_section.desktop_home_logo_url}}" alt="logo" class="pageHero__Home__Logo pageHero__Home__Logo--Desk img-fluid" />
            {% endif %}
            <div class="pageHero__Phone"><a href="tel:{{ general_data.phone }}">{{ general_data.phone }}</a></div>
        </div>
        {% include contact_form.html %}
    </section>

<section class="sliceZone">
    <section class="serviceMenu maxWidth">
       
        <div class="serviceMenu__ServiceTitles serviceMenu__ServiceTitles--Desktop" id="v-pills-tab" role="tablist" aria-orientation="vertical">
           {% for list in page.service_section.services %}
            <h3 class="serviceMenu__ServiceTitle serviceMenu__ServiceTitle--Mobile service-item {% if forloop.first %}active{% endif %}" id="v-pills-{{ list.text | replace: ' ', '-' | replace: '/', '-' }}-tab" data-bs-toggle="pill" data-bs-target="#v-pills-{{ list.text | replace: ' ', '-' | replace: '/', '-' }}" type="button" role="tab" aria-controls="v-pills-{{ list.text | replace: ' ', '-' | replace: '/', '-' }}" aria-selected="true>
              <a style="font-size: unset;padding: 0; border: 0";>{{ list.text }} </a>
            </h3>
            {% endfor %}
        </div>
        <div class="serviceMenu__ServiceText tab-content" id="v-pills-tabContent">
           {% for list in page.service_section.services %}
           <div class="tab-pane fade  {% if forloop.first %}show active{% endif %}" id="v-pills-{{ list.text | replace: ' ', '-' | replace: '/', '-' }}" role="tabpanel" aria-labelledby="v-pills-{{ list.text | replace: ' ', '-' | replace: '/', '-' }}-tab">
            <p>{{ list.description }}</p>
            <a href="{{list.url}}">Learn more</a>
           </div>
           {% endfor %}
        </div>
    </section>
    {% assign about = page.about_section %}
    <section class="textOverlay">
        <div class="textOverlay__ImageWrapper textOverlay__ImageWrapper--BG">
        {% if about.background_image %}
          <img class="textOverlay__BG" src="{{ about.background_image }}" alt="paper" />
        {% endif %}
        </div>
        <div class="textOverlay__Red">
            <div class="textOverlay__ImageWrapper textOverlay__ImageWrapper--Headshot">
            {% if about.profile_image %}
              <img class="textOverlay__Headshot" src="{{ about.profile_image }}" alt="{{about.title}}" />
            {% endif %}
            </div>
            {% if about.title %}
             <h4>{{ about.title }}</h4>
            {% endif %}
            {% if about.description %}
            <p>{{ about.description }}</p>
            {% endif %}
            {% if about.button_text %}
             <a href="{{about.button_url}}">{{ about.button_text }}</a>
            {% endif %}
        </div>
    </section>
</section>
<section class="formSection">
    <h5 class="formSection__Heading editable">REQUEST A CONSULTATION</h5>
    {% include form.html %}
</section>