<form action="https://formspree.io/f/mkndnqlr" method="POST" class="cfForm">
	<div class="formFlex">
		<div class="formSmallInputs inputWrapper">
			<input class="" name="NAME" type="text" placeholder="NAME" />
			<input class="" name="EMAIL" type="text" placeholder="EMAIL" />
			<input class="" name="PHONE NUMBER" type="text" placeholder="PHONE NUMBER" />
		</div>
		<div class="formLargeInputs inputWrapper"><textarea class="inputLarge" name="MESSAGE" placeholder="MESSAGE"></textarea></div>
	</div>
	<input type="submit" class="formSubmit" value="submit" />
	</form>