<section class="menu">
    <div class="hamburger" id="mobile-nav">
        <div class="hamburger__Line"></div>
        <div class="hamburger__Line"></div>
        <div class="hamburger__Line"></div>
    </div>
    <div class="menuLogoWrapper">
        <a href="/">
            <img
                id="nav-logo"
                class="menu__Logo menu__Logo--Icon img-fluid"
                alt="logo"
                src="/assets/images/logo.png"
            />
        </a>
    </div>
    <div class="collapse show menu__Links" id="menu__Links_id">
        <div class="menu__LinkContainer">
            <a class="menuLink menuLink--Top menuLink--mobile" href="/">Home</a>
            <a class="menuLink menuLink--Top menuLink--Desk" href="/">Home</a>
        </div>
        <div class="menu__LinkContainer">
            <a class="menuLink menuLink--Top menuLink--mobile" href="/legal-services.html">Legal Services</a>
            <a class="menuLink menuLink--Sub sub--mobile" href="/criminal-law.html">Criminal Law</a>
            <a class="menuLink menuLink--Sub sub--mobile" href="/personal-injury.html">PERSONAL INJURY</a>
            <a class="menuLink menuLink--Sub sub--mobile" href="/dwi-owi.html">DWI/OWI</a>
            <a class="menuLink menuLink--Sub sub--mobile" href="/estate-planning.html">Estate Planning</a>
            <a class="menuLink menuLink--Sub sub--mobile" href="/family-law.html">Family Law</a>
            <a class="menuLink menuLink--Sub sub--mobile" href="/additional-services.html">Additional Services</a><a class="menuLink menuLink--Top menuLink--Desk" href="legal-services.html">Legal Services</a>
            <div class="dropArrow" id="dropArrowBtn">▼</div>
            <div class="subLinkContainer d-none" id="subLinkContainerId">
                <a class="menuLink menuLink--Sub sub--desk" href="/criminal-law">Criminal Law</a>
                <a class="menuLink menuLink--Sub sub--desk" href="/personal-injury">PERSONAL INJURY</a>
                <a class="menuLink menuLink--Sub sub--desk" href="/dwi-owi">DWI/OWI</a>
                <a class="menuLink menuLink--Sub sub--desk" href="/estate-planning">Estate Planning</a>
                <a class="menuLink menuLink--Sub sub--desk" href="/family-law">Family Law</a>
                <a class="menuLink menuLink--Sub sub--desk" href="/additional-services">Additional Services</a>
            </div>
        </div>
        <div class="menu__LinkContainer">
            <a aria-current="page" class="menuLink menuLink--Top menuLink--mobile" href="/about.html">About</a>
            <a aria-current="page" class="menuLink menuLink--Top menuLink--Desk" href="/about.html">About</a>
        </div>
        <div class="menu__LinkContainer">
        <a class="menuLink menuLink--Top menuLink--mobile" href="/contact.html">Contact</a>
        <a class="menuLink menuLink--Top menuLink--Desk" href="/contact.html">Contact</a>
        </div>
    </div>
</section>