
/*NAVBAR DESKTOP*/
/**/
/**/

.bg-primary{
    background-color: rgba(116, 22, 37, .85) !important;
}

.navbar-half-transparent{
    background-color: transparent !important;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;   /* Increase this value if the nav still appears below content */
}

.nav-link {
    font-size: 2rem;
}

.custom-nav {
    height: 13.2rem;
    padding: 1rem 4rem;
}

.nav-item {
    margin-right: 30px
}

/**/
/*CONTACT FORM DESKTOP*/
/**/

.contact-form {
    background-color: #002e3b;
    /*color: #ffffff;*/
}
/*textarea::placeholder {*/
/*    color: #ffffff;*/
/*}*/

.field-group {
    display: flex;
    flex-direction: column;
    /*width: 350px;*/
    width: 33rem;
}

.form-control {
    border-radius: 0;
    font-size: 2rem;
    height: 4.75rem;
}

#inputMessage1 {
    border: none;
    height: 16.25rem;
}

.form-container {
    display: flex;
    align-items: start;
    gap: 3%;
    justify-content: start;
}

.inputs-container, .message-container {
    flex: 1;
}

input.form-control, textarea.form-control {
    color: black !important;
}

.new-form{
    padding-right: 3rem
}

/**/
/*HOME*/
/**/

.seal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100rem;
}

.seal {
    /*width: 100%;*/
    height: 30vh;
    width: auto;
    object-fit: cover;
}

.custom-service {
    /*margin-right: .2rem !important;*/
    padding-left: 6rem;
    padding-top: 5.3rem;
    padding-bottom: 5.3rem;
}

.service-paragraph {
    font-size: 2rem;
    text-align: justify;
}

.service-learn-more {
    color: #0e161e;
    font-size: 1.6rem;
    border: 1px solid;
    padding: 1.3rem 2.7rem;
}

/**/
/* ABOUT SECTION ON HOME PAGE*/
/**/

.writing-image{
    left: 0;
    width: 72vw;
    height: 44.3rem;
}
